.player-info-container {
    height: 100px;
}

.player1-container {
    float: left;
}

.player2-container {
    float: right;
}

.board-container {
    width: 200px;
    margin: auto;
}

.turn-signal {
    width: 10px;
    height: 10px;
}

#coordinates {
    width: 500px;
    height: 600px;
}

.card {
    width: 100px;
}

.selected-card {
    width: 120px;
}

.player1 {
    background-color: #b7f0ff;
}

.player2 {
    background-color: #ffdce3;
}