{% load static %}
<table class="board">
    <tr>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
    </tr>
    <tr>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
    </tr>
    <tr>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
    </tr>
    <tr>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
        <td>
            动物
        </td>
    </tr>
</table>