

{% extends "core/base.html" %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="{% static '/icon/animal-logo.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Animal Chess</h5>
            <p class="card-text">Jungle is a two-player strategy game and has been cited as resembling the Western game
                Stratego.</p>
            <a href="{% url 'animal-game' %}" class="btn btn-primary">Start Game</a>
            <a href="{% url 'animal-join-page' %}" class="btn btn-info">Join Game</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static '/icon/connect-four-logo.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Connect Four</h5>
            <p class="card-text">Coming soon</p>
            <a href="#" class="btn btn-secondary">Start Game</a>
            <a href="#" class="btn btn-secondary">Join Game</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static '/icon/five-in-a-row.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Five in a row</h5>
            <p class="card-text">Coming soon</p>
            <a href="#" class="btn btn-secondary">Start Game</a>
            <a href="#" class="btn btn-secondary">Join Game</a>
        </div>
    </div>
    <p>{{ msg }}</p>


    {% if game_in_progress %}
        <div id="id01" class="modal" style="display: block">
            <div class="modal-content animate">
                <div class="modal-top">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                </div>


                <div class="modal-container" style="background-color:#f1f1f1">
                    <h5 id="win-message">You have a game in progress, do you want to continue?</h5>
                    <div class="btn-container">
                        <a type="button" href="{% url 'animal-access-game' game_id=code %}"
                           class="button againbtn">
                            Yes
                        </a>
                        <a type="button" href="{% url 'animal-access-game' game_id='new' %}"
                           class="button leavebtn">
                            Start New
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}