

{% extends "core/base.html" %}

{% load static %}

{% block header %}
    {#    <link rel="stylesheet" href="{% static 'animal_chess/css/index.css' %}">#}
{% endblock %}

{% block content %}
    <div class="form-container">
        <form name="join_form" action="{{ game_name }}game/" method="POST">
            <table>
                <tr>
                    <td>Game Code:</td>
                    <td><input type="text" name="code"></td>
                    <td><input class="btn btn-info"  type="submit" value="Join"></td>
                </tr>

            </table>

            {% csrf_token %}
        </form>
    </div>
{% endblock %}